:root[data-theme='light'] {
    --background-color: #f0f0f0;
    --text-color: #333;
    --border-color-darker: #acacac;
    --border-color: #ccc;
    --primary-color: #007bff;
    --secondary-color: #28a745;
    --third-color: #dc3545;
}

:root[data-theme='dark'] {
    --background-color: #1a1a1a;
    --text-color: #f0f0f0;
    --border-color-darker: #444;
    --border-color: #555;
    --primary-color: #3399ff;
    --secondary-color: #4caf50;
    --third-color: #e63946;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}


h1 {
    margin: 20px 0;
    text-align: center;
}

p.intro {
    margin: 20px auto;
}

canvas#game-canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid var(--text-color);
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#score-board {
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    padding: 10px;
}

span.score-title {
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 10px;
}

span.score-value {
    font-size: 1.5em;
}

img {
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 50px;
}

main > center {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

main p {
    text-align: justify;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    width: 80%;
}

form > input, form > textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-size: 20px;
}

form > button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    width: 20%;
    min-width: 100px;
    cursor: pointer;
}

